---
import { getCollection } from "astro:content";
import type { InferGetStaticPropsType } from "astro";
import Layout from "../../layout/index.astro";

export async function getStaticPaths() {
  const clubs = await getCollection("club");
  const dataset = await getCollection("dataset");

  return clubs.map(({ data }) => {
    const { slug } = data;
    const reg = new RegExp(slug);
    return {
    params: {
      slug,
    },
    props: {
      ...data,
      dataset: dataset.filter((datum) => datum.id.match(reg)).map((datum) => datum.data).sort((a, b) => a.year - b.year),
    },
  }});
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { fullname, dataset } = Astro.props;
---
<Layout title={fullname}>
  <table>
    <thead>
    </thead>
    <tbody>
      {dataset.map((data) => (
        <tr>
          <td>{data.name}</td>
          <td>{data.year}</td>
          <td>{data.rank}</td>
        </tr>
      ))}
    </tbody>
  </table>
</Layout>
