---
interface Props {
  title?: string;
}

const { title } = Astro.props;
const contentTitle =
  title 
    ? `${title} - Jクラブ経営情報ポータルNext`
    : "Jクラブ経営情報ポータルNext";
---
<!doctype html>
<html lang="ja">
  <head>
    <slot name="top-of-head" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" />
    <meta name="generator" content={Astro.generator} />
    <title>{contentTitle}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage === "undefined") return "light";

        const localStorageItem = localStorage.getItem("astro-color-mode");
        if (
          localStorageItem &&
          (localStorageItem === "light" || localStorageItem === "dark")
        ) {
          return localStorageItem;
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      document.documentElement?.setAttribute("data-color-mode", theme);

      window.localStorage.setItem("astro-color-mode", theme);
    </script>
  </body>
</html>
